
.poly{
    outline-color:red;
    /*position: relative;*/
    background: #1b6d85;
}

.poly:focus, .poly:hover{
    outline-color:red;
    /*position: relative;*/
    background: #1b6d85;
}

/*
area:link, area:hover, area:active, area:focus {
    border: 5px #f00 solid;
}
*/